<!-- 
{% block content %}
<h1>Madlibs</h1>
<form action="/story">
  <label for="place">place: </label>
  <input type="text" name="place">

  <label for="noun">noun: </label>
  <input type="text" name="noun">

  <label for="verb">verb: </label>
  <input type="text" name="verb">

  <label for="adjective">adjective: </label>
  <input type="text" name="adjective"> -->

  <!-- <label for="nouns">plural_noun</label>
  <input type="text" name="nouns"> -->

  <!-- <button>submit</button>
</form>
{% endblock %} -->